<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="logo">
                    <h2><a href="#">Магазин</a></h2>
                </div>
            </div>
            <div class="col-md-10">
                <div class="menu">
                    <ul>
                        <li class="active"><a href="/">Главная</a></li>
                        <li><a href="{% url 'all_genres' %}">Жанры</a></li>
                        <li><a href="/cart/">Корзина</a></li>
                        <li><a href="/search/">Поиск игр</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>