{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1 class="display-4">{{ genre.name }}</h1>
        <ul class="list-group">
            {% for game in games %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="{{ game.cover_image.url }}" alt="{{ game.title }} Cover" class="img-thumbnail">
                        </div>
                        <div class="col-md-10">
                            <h3>{{ game.title }}</h3>
                            <p>Price: ${{ game.price }}</p>
                            <p>Category: {{ game.genres.all.0.name }}</p>
                            <p>Developer: {{ game.developers.all.0.name }}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
